body {
    margin: 0;
}

.header {
    background-color: rgb(21, 223, 88);
    width: 100%;
    min-height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    font-size: 50px;
    color: white;
    padding-bottom: 10px;
    margin-top: 5px;
}

.navbar {
    display: flex;
    gap: 30px;
}

.botaos {
    padding: 0px 10px 0px 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 100px;
    cursor: pointer;
    transition: 0.3;
    font-size: 20px;
    
}

.botaos:hover {
    background-color: green;
}
.botaos:active {
    transform: translateY(3px);
}

.dropdown{
    position: relative;
}

.lista{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(12, 112, 12);
    color: white;
    font-size: 20px;
    min-width: 80px;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
}
